#form-group{
  position:center; top:-20px; bottom:0px; right:10px;
    width:500px; height:auto; background-color:rgb(200, 197, 223);
    color:rgb(17, 12, 12); border-style: round($number: 0);
    margin-left: 180px;
}
.uljob{
  width: 250px;
  .lijob{

  }
}
